* {
    box-sizing: border-box;
}

:root, body,#root {
    width: 100%;
    min-height: 100vh;
}

body {
    padding: 0px;
    margin: 0px;

}

#root {
    background-color: #cccccc;
    padding: 15px;
    display: flex;
}